<div class="container" style="padding-top: 50px;">
  <div class="row">
    <div class="col-md-2"> </div>
    	<div class="col-md-8" style="background-color: #f9f9f9;padding: 0px;">
    		<div class="new" style="background-color: #fff;height: 45px;">
    		<%= button_to "New question" ,new_question_path ,:class => "btn btn-primary", :method => :get  %></div>
    		<div class="main">
				<table class="table table-striped table-hover ">
				  <thead>
				    <tr><h3>All questions</h3></tr>
				  </thead>
				  <% @questions.each do |question| %>
				  <tbody>
				    <tr style="height: 60px;">
				      <td style="width: 10%;"><h4><%= question.id %></h4><td>
				      <td style="width: 80%;"><h4><%= link_to question.title, question_path(question) %></h4></td>
				      <td style="width: 5%;">
				      <p style="height: 30px;margin: 0;"><%= link_to image_tag("plus.png", border: 0, size:"20x20"), rate_up_path, :method => :get %></p>
				      <p style="height: 30px;margin-bottom: 0;padding-top:10px;"><%= link_to image_tag("minus.png", border: 0, size:"20x20"), rate_down_path, :method => :get %></p>
				      </td>
				      <td style="width: 5%;"><h2 style="margin-top: 15px; margin-bottom: 15px">
				      	<% if question.rating < 0 %>
				      		<p style="color: red;"><%= question.rating %></p>
				      	<% else %>
				      		<p style="color: green;"><%= question.rating %></p>
				      	<% end %>	
				      </h2></td>
				    </tr>
				  </tbody>
				  <% end %>
				</table> 
    		</div>

    	</div>
    <div class="col-md-2"> </div>
  </div>
</div>
