<div class="container" style="padding-top: 10px;">
  <div class="row">
    <div class="col-md-2"> </div>
    	<div class="col-md-8" style="background-color: #f9f9f9;padding: 0px;">
    			<% flash.each do |key, value| %>
  					<div class="alert alert-<%= key %>" style="text-align: center;"><%= value %></div>
				<% end %>
    		<div class="new" style="background-color: #fff;height: 45px;">
    		<%= button_to "New question" ,new_question_path ,:class => "btn sharp", :method => :get  %></div>
    		<div class="main">
				<table class="table table-striped table-hover ">
				  <% @questions.each do |question| %>
				  <tbody>
				    <tr style="height: 60px;">
				      <td style="width: 10%;text-align:center;">
				      	<p>Answers</p>
				      	<h4><%= @answers.where(question_id: question.id).count %></h4>
				      </td>
				      <td style="width: 10%;text-align:center;"><h4><%= question.id %></h4><td>
				      <td style="width: 70%;"><h4><%= link_to question.title, question_path(question) %></h4></td>
				      <td style="width: 5%;">
				      <p style="height: 30px;margin: 0;"><%= link_to image_tag("plus.png", border: 0, size:"20x20"), rating_path(:quest => question.id, :direct => true), :method => :get %></p>
				      <p style="height: 30px;margin-bottom: 0;padding-top:10px;"><%= link_to image_tag("minus.png", border: 0, size:"20x20"), rating_path(:quest => question.id, :direct => false), :method => :get %></p>
				      </td>
				      <td style="width: 5%;"><h2 style="margin-top: 15px; margin-bottom: 15px; text-align:center;"><h2>	<%= count_rate(question.id)%>
				      </h2></td>
				    </tr>
				  </tbody>
				  <% end %>
				</table> 
    		</div>

    	</div>
    <div class="col-md-2"> </div>
  </div>
</div>
