<div class="container" style="padding-top: 50px;">
  <div class="row">
    <div class="col-md-3"> </div>
    <div class="col-md-6" style="background-color: #f9f9f9;">
      <legend><%= @question.title %></legend>
      <div class="well">
        <p><%= @question.description %></p>
      </div>
      <row >
      <%= link_to "Back to questions", root_path, :class => "btn btn-link", :style => "float: left;" %>
      <%= link_to "Comment", root_path, :class => "btn btn-primary", :style => "float: right;margin: 5px;"%>
      <%= link_to "Answer!", new_answer_path(@question.id), :class => "btn btn-success btn-lg", :style => "float: right;margin: 5px;"%>
      </row>
      <div class="container" style="margin-top: 100px;width: 100%;">
        <% if @answers.empty? %>
          <h3>No posts yet</h3>
        <% else %>
          <% @answers.each do |ans|%>
            <% if !(ans.user_id == nil) %>
              <% user = User.find(ans.user_id) %>
              <div class="well"><p><%= user.name.capitalize %></p><p><%= ans.answer %></p></div>
            <% else %>
              <div class="well"><p><%= ans.answer %></p></div>
            <% end %>
          <% end %>
        <% end %> 
      </div>
    </div>
    <div class="col-md-3"> </div>
  </div>
</div>