<div class="row" style="height: 200px; margin-top: 50px;">
  <div class="col-md-1 col-md-2">
    <div></div>
  </div>
  <div class="col-md-4 col-md-4">
  <div class="row">


        <div class="media">
            <%= link_to image_tag(@user.picture.thumb.url) , "#"%>
            <div class="media-body">
                <h4><%=  @user.name %>     <small> <%= @user.country %></small></h4>
                <h5>Software Developer at <a href="http://gridle.in">Gridle.in</a></h5>
                <hr style="margin:8px auto">

                <span class="label label-default">HTML5/CSS3</span>
                <span class="label label-default">jQuery</span>
                <span class="label label-info">CakePHP</span>
                <span class="label label-default">Android</span>
            </div>
        </div>


    

</div>
  </div>
  <div class="col-md-4 col-md-4">

  <% if edit_user_path(@user) %>
  	<%= render "users/edit" %>
  <% end %>
  </div>
  <div class="col-md-2 col-md-2">
    <div></div>
  </div>
</div>

<div class="row" style="margin-top: 50px;">
  <div class="col-md-1 col-md-2">
    <div></div>
  </div>
  <div class="col-md-4 col-md-4">
  <div class="row">
  <legend>Your questions:</legend>
  <% @questions.each do |question|%>
    <div class="well" style="height: 100px;"><h4 style="color: green;"><%= link_to question.title, question_path(question) %></h4><p><%= question.description %></p></div>
  <% end %>
</div>
  </div>
  <div class="col-md-4 col-md-4">
    <legend>Your answers:</legend>
    <% @answers.each do |answer|%>
      <% question = Question.find(answer.question_id) %>
      <div class="well" style="height: 100px;"><h4 style="color: green;"><%= link_to question.title, question_path(question) %></h4><p><%= answer.answer %></p></div>
    <% end %>
  </div>
  <div class="col-md-2 col-md-2">
    <div></div>
  </div>
</div>
